In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
from datetime import datetime
from selenium import webdriver
from selenium.webdriver.chrome.options import Options

In [2]:
chrome_options = Options()  
chrome_options.add_argument("--headless")  
chrome_options.add_argument("--no-sandbox")

driver = webdriver.Chrome('chromedriver', options=chrome_options)

### Extract date

In [3]:
url = 'https://www.moh.gov.sg/covid-19'

driver.get(url)
content = driver.page_source

In [4]:
soup =BeautifulSoup(content, 'lxml')

In [5]:
data = soup.findAll(text=re.compile("Case Summary in Singapore \(as of .+"))

In [6]:
data

['Case Summary in Singapore (as of 25 Mar 2020, 1200h)']

In [7]:
m = re.search("(\d+ \w+ 202\d, \d+\d+h)", data[0])
date_time_str = m.group(1)
data_date_time = datetime.strptime(date_time_str, '%d %b %Y, %H%Mh').strftime('%Y-%m-%d')
data_date_time

'2020-03-25'

### Extract Dataframes

In [8]:
dfs = pd.read_html(content)

In [9]:
dfs

[    0   1
 0 NaN NaN
 1 NaN NaN,
     0   1
 0 NaN NaN
 1 NaN NaN,
                                               0  \
 0                                      IMPORTED
 1                                     364 (+38)
 2  Singapore Residents & Long Term Pass Holders
 3                                     321 (+37)

                                               1          2
 0                                      IMPORTED   IMPORTED
 1                                     364 (+38)  364 (+38)
 2  Singapore Residents & Long Term Pass Holders   Visitors
 3                                     321 (+37)    43 (+1)  ,
               0
 0  Active Cases
 1           404,
             0
 0  Discharged
 1         160,
                          0
 0  Discharge to Isolation*
 1                       65,
                        0
 0  Hospitalised (Stable)
 1                    387,
                          0
 0  Hospitalised (Critical)
 1                       17,
         0
 0  Deaths
 1      2^,
                0       1
 0  DORSCON Level  Orange,
               0                                                  1
 0          Date                                              Title
 1   25 Mar 2020  Travellers Arriving In Singapore Will Receive ...
 2   25 Mar 2020  Five More Cases Discharged; 73 News Cases of C...
 3   25 Mar 2020  [Updated] Advisory for Individuals Sharing Res...
 4   25 Mar 2020  [Updated] MOH Health Advisory for Persons issu...
 5   25 Mar 2020  Measures to Prevent Congregations of Foreign W...
 6   25 Mar 2020  Employers Advised To Plan For More Sustainable...
 7   25 Mar 2020  Singapore Permanent Resident Failed To Declare...
 8   25 Mar 2020  Entry Approval and Stay-Home Notice Requiremen...
 9   25 Mar 2020  Ministerial Statement by Minister Lawrence Won...
 10  25 Mar 2020  Statement by Mr Gan Kim Yong, Minister for Hea...
 11  25 Mar 2020  Second meeting of the Singapore-Malaysia Joint...
 12  25 Mar 2020  Joint ministerial statement by Australia, Brun...
 13  25 Mar 2020  Joint statement by the Singapore Tourism Board...
 14  25 Mar 2020  MOM Mounts Enforcement Operation to Ensure Wor...
 15  25 Mar 2020  Guidance on Safe Distancing Measures for Issue...,
                               0                              1
 0                        Global  372,757 confirmed(39,827 new)
 1        Western Pacific Region      96,580 confirmed(943 new)
 2               European Region  195,511 confirmed(24,087 new)
 3        South-East Asia Region      1,990 confirmed (214 new)
 4  Eastern Mediterranean Region   27,215 confirmed (1,840 new)
 5       Regions of the Americas  49,444 confirmed (12,428 new)
 6                African Region      1,305 confirmed (315 new),
               0          1
 0  Global Level  Very High]

In [41]:
active=3
assert dfs[active][0][0] == 'Active Cases'
dfs[active]

              0
0  Active Cases
1           404

In [42]:
discharge = 4
assert dfs[discharge][0][0] == 'Discharged'
dfs[discharge]

            0
0  Discharged
1         160

In [54]:
hospitalised_stable = 6
assert dfs[hospitalised_stable][0][0] == 'Hospitalised (Stable)'

dfs[hospitalised_stable]

                       0
0  Hospitalised (Stable)
1                    387

In [56]:
hospitalised_critical = 7
assert dfs[hospitalised_critical][0][0] == 'Hospitalised (Critical)'

dfs[hospitalised_critical]

                         0
0  Hospitalised (Critical)
1                       17

In [60]:
deaths = 8
assert dfs[deaths][0][0] == 'Deaths'

dfs[deaths]

        0
0  Deaths
1      2^

In [29]:
# # Look for df with confirmed cases, tested negative, ...

# for df in dfs:
#     combined_fields = df[3].to_string().lower()
#     if "active cases" in combined_fields:
#         sing_cases_df_temp = df
        
# sing_cases_df_temp

In [62]:
def remove_non_numeric(s):
    return re.sub('\D','', s)

In [63]:
# very hacky to workaround with the change from MoH site
sing_cases_df = pd.DataFrame({'active_cases': [int(remove_non_numeric(dfs[active][0][1]))],
                             'hospitalised_stable': [int(remove_non_numeric(dfs[hospitalised_stable][0][1]))],
                              'hospitalised_critical': [int(remove_non_numeric(dfs[hospitalised_critical][0][1]))],
                              'death': [int(remove_non_numeric(dfs[deaths][0][1]))],
                              'discharge': [int(dfs[discharge][0][1])],
                              'datetime': data_date_time
                             },
                            )
sing_cases_df

,active_cases,hospitalised_stable,hospitalised_critical,death,discharge,datetime
0,404,387,17,2,160,2020-03-25

In [64]:
df = sing_cases_df
df

,active_cases,hospitalised_stable,hospitalised_critical,death,discharge,datetime
0,404,387,17,2,160,2020-03-25

### Save to file

In [65]:
from pathlib import Path
csv_file = '../data/singapore-cases.csv'

if Path(csv_file).exists():
    # read out the old data
    old_df = pd.read_csv(csv_file)
    df = df.set_index('datetime').append(old_df.set_index('datetime'))

In [66]:
df = df.reset_index()
df.drop_duplicates(subset=['datetime'], inplace=True)

In [67]:
df.sort_values(by=['datetime'], inplace=True)
df

,datetime,active_cases,hospitalised_stable,hospitalised_critical,death,discharge,confirmed,discharged,hospitalised,negative,pending
1,2020-02-02,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,240.0,43.0
2,2020-02-03,NaN,NaN,NaN,NaN,NaN,24.0,NaN,NaN,262.0,32.0
3,2020-02-04,NaN,NaN,NaN,NaN,NaN,24.0,NaN,NaN,289.0,20.0
4,2020-02-05,NaN,NaN,NaN,NaN,NaN,28.0,NaN,NaN,295.0,62.0
5,2020-02-06,NaN,NaN,NaN,NaN,NaN,33.0,NaN,NaN,310.0,147.0
6,2020-02-07,NaN,NaN,NaN,NaN,NaN,33.0,NaN,NaN,363.0,181.0
7,2020-02-08,NaN,NaN,NaN,NaN,NaN,40.0,NaN,NaN,438.0,181.0
8,2020-02-09,NaN,NaN,NaN,NaN,NaN,45.0,7.0,NaN,581.0,39.0
9,2020-02-10,NaN,NaN,NaN,NaN,NaN,45.0,7.0,NaN,581.0,39.0
10,2020-02-11,NaN,NaN,NaN,NaN,NaN,47.0,9.0,NaN,608.0,43.0
11,2020-02-12,NaN,NaN,NaN,NaN,NaN,50.0,15.0,NaN,638.0,125.0
12,2020-02-13,NaN,NaN,NaN,NaN,NaN,58.0,15.0,NaN,711.0,82.0
13,2020-02-14,NaN,NaN,NaN,NaN,NaN,67.0,17.0,NaN,764.0,91.0
14,2020-02-15,NaN,NaN,NaN,NaN,NaN,72.0,18.0,NaN,812.0,107.0
15,2020-02-16,NaN,NaN,NaN,NaN,NaN,75.0,19.0,NaN,871.0,119.0
16,2020-02-17,NaN,NaN,NaN,NaN,NaN,81.0,29.0,NaN,937.0,103.0
17,2020-02-18,NaN,NaN,NaN,NaN,NaN,81.0,29.0,NaN,1051.0,28.0
18,2020-02-19,NaN,NaN,NaN,NaN,NaN,84.0,34.0,NaN,1078.0,29.0
19,2020-02-20,NaN,NaN,NaN,NaN,NaN,85.0,37.0,NaN,1104.0,34.0
20,2020-02-21,NaN,NaN,NaN,NaN,NaN,86.0,47.0,NaN,1108.0,67.0
21,2020-02-22,NaN,NaN,NaN,NaN,NaN,89.0,49.0,NaN,1157.0,55.0
22,2020-02-23,NaN,NaN,NaN,NaN,NaN,89.0,51.0,NaN,1202.0,41.0
23,2020-02-24,NaN,NaN,NaN,NaN,NaN,90.0,53.0,NaN,1239.0,25.0
24,2020-02-25,NaN,NaN,NaN,NaN,NaN,91.0,58.0,NaN,1258.0,15.0
25,2020-02-26,NaN,NaN,NaN,NaN,NaN,93.0,62.0,31.0,NaN,NaN
26,2020-02-27,NaN,NaN,NaN,NaN,NaN,96.0,66.0,30.0,NaN,NaN
27,2020-02-28,NaN,NaN,NaN,NaN,NaN,98.0,69.0,29.0,NaN,NaN
28,2020-02-29,NaN,NaN,NaN,NaN,NaN,102.0,72.0,30.0,NaN,NaN
29,2020-03-01,NaN,NaN,NaN,NaN,NaN,106.0,74.0,32.0,NaN,NaN
30,2020-03-02,32.0,25.0,7.0,0.0,78.0,NaN,NaN,NaN,NaN,NaN
31,2020-03-03,32.0,25.0,7.0,0.0,78.0,NaN,NaN,NaN,NaN,NaN
32,2020-03-04,33.0,26.0,7.0,0.0,79.0,NaN,NaN,NaN,NaN,NaN
33,2020-03-05,36.0,29.0,7.0,0.0,81.0,NaN,NaN,NaN,NaN,NaN
34,2020-03-06,48.0,39.0,9.0,0.0,82.0,NaN,NaN,NaN,NaN,NaN
35,2020-03-07,48.0,40.0,8.0,0.0,90.0,NaN,NaN,NaN,NaN,NaN
36,2020-03-08,60.0,51.0,9.0,0.0,90.0,NaN,NaN,NaN,NaN,NaN
37,2020-03-09,67.0,57.0,10.0,0.0,93.0,NaN,NaN,NaN,NaN,NaN
38,2020-03-10,73.0,61.0,12.0,0.0,93.0,NaN,NaN,NaN,NaN,NaN
39,2020-03-11,82.0,73.0,9.0,0.0,96.0,NaN,NaN,NaN,NaN,NaN
40,2020-03-12,91.0,82.0,9.0,0.0,96.0,NaN,NaN,NaN,NaN,NaN
41,2020-03-13,103.0,92.0,11.0,0.0,97.0,NaN,NaN,NaN,NaN,NaN
42,2020-03-14,107.0,93.0,14.0,0.0,105.0,NaN,NaN,NaN,NaN,NaN
43,2020-03-15,121.0,108.0,13.0,0.0,105.0,NaN,NaN,NaN,NaN,NaN
44,2020-03-16,134.0,121.0,13.0,0.0,109.0,NaN,NaN,NaN,NaN,NaN
45,2020-03-17,152.0,138.0,14.0,0.0,114.0,NaN,NaN,NaN,NaN,NaN
46,2020-03-18,196.0,181.0,15.0,0.0,117.0,NaN,NaN,NaN,NaN,NaN
47,2020-03-19,221.0,206.0,15.0,0.0,124.0,NaN,NaN,NaN,NaN,NaN
48,2020-03-20,254.0,238.0,16.0,0.0,131.0,NaN,NaN,NaN,NaN,NaN
49,2020-03-21,290.0,276.0,14.0,2.0,140.0,NaN,NaN,NaN,NaN,NaN
50,2020-03-22,309.0,295.0,14.0,2.0,144.0,NaN,NaN,NaN,NaN,NaN
51,2020-03-23,355.0,340.0,15.0,2.0,152.0,NaN,NaN,NaN,NaN,NaN
52,2020-03-24,401.0,384.0,17.0,2.0,155.0,NaN,NaN,NaN,NaN,NaN
0,2020-03-25,404.0,387.0,17.0,2.0,160.0,NaN,NaN,NaN,NaN,NaN

In [68]:
df.to_csv(csv_file, index=False)